html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial;
  color: #111111;
}

h1,
ul,
h2,
h3,
h4,
p,
blockquote,
dd {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
